/* **********************************************
 
 *   FRONTSTACK.IO HACKATHON
 
 *   =============
 
 * IRE THANKS FOR EXISTING <3
 
 ********************************************** */


/*  Variables ****************************** */

:root {
    --theme-colour: #E36F55;
    --theme-color-dark: #D78E52;
    --theme-colour-light: #F2994A;
    --secondary-colour: #C3C0C0;
}



/* Typography ****************************** */

html {
    font-size: 16px;
}

html,
body {
    color: rgb(26, 26, 26);
    font-family: "Catamaran", Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}



/* Typograpy ****************************** */
h2 {
    color: #C3C0C0;
    font-weight: 800;
    letter-spacing: 3px;
    margin: 2em 0;
    }

    p {
        font-weight: 600;
    }

/* Layout ****************************** */
img {
    width: 100%;
    height: auto;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    /* background: rgba(26, 26, 26, 0.603); */
    align-content: space-around;
    /* height: 100%; */
}

header .logo {
    flex-grow: 1;
}

.logo img {
    margin: .8em 0em 0em 1em;
    width: 105px;
}

header nav {
    display: none;
}

header .button {
    text-decoration: none;
    padding: .5em 1.5em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    font-weight: 100;
    font-size: .9em;
    margin-top: 1em;
}

.toggle {
    margin-top: 10px;
    background: whitesmoke;
    width: 28px;
    height: 4px;
    position: relative;
    margin: 2em .8em;
}

.toggle::after {
    position: absolute;
    content: "";
    display: block;
    width: 28px;
    background: whitesmoke;
    height: 4px;
    top: 10px;
}

.toggle::before {
    position: absolute;
    content: "";
    display: block;
    width: 28px;
    height: 4px;
    top: -10px;
    background: whitesmoke;
}

.hero {
    min-height: 570px;
    height: 100vh;
    padding: 1rem 2.5em;
    background: linear-gradient(180deg, #EB5757 0%, #D59152 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.hero__form-focus {
        height: 150vh;

}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content h1 {
    margin-top: 100px;
    font-size: 3em;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    color: white;
    max-width: 550px;
}

.hero-content .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 5px;
}

.hero-content .search label {
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    line-height: 1;
}

.hero-content .search input {
    outline: none;
    height: 60px;
    width: 100%;
    max-width: 350px;
    font-size: 1rem;
    color: #EB5757;
    font-weight: 600;
    padding: 1em 3em;
    margin-top: 10px;
    border-radius: 60px;
    border: 3px solid #F2994A;
}

.search input::-webkit-input-placeholder {
    text-align: center;
    color: #C3C0C0;
    font-size: 1rem;
    font-weight: 100;
}

.search input::-moz-input-placeholder {
    text-align: center;
    font-size: 1rem;
    color: #C3C0C0;
    font-weight: 100;
}



section {
    padding: 1.5em;
}


a:visited,
a:hover,
a:active,
a:link {
    color: white;
}

.locations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.locations figure {
position: relative;
float: left;
overflow: hidden;
margin: 10px 1%;

background: #3085a3;
text-align: center;
cursor: pointer;
}



.locations figure picture {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    /* opacity: 0.8; */

    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s,
    -webkit-transform 0.35s;
    transition: opacity 0.35s,
    transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}



.locations figure figcaption {
    position: absolute;
top:0;
left:0;
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.locations figure figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 50%;
}

.locations figure.effect-lily h3,
.locations figure.effect-lily p {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

.locations figure h3 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.locations figure p {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

.locations figure:hover picture,
.locations figure:hover p {
    opacity: 1;
}

.locations figure:hover picture,
.locations figure:hover h3,
.locations figure:hover p {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.locations figure:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

@media (min-width: 600px) {}